<!-- @dsCard group="Components" viewport="700x580" name="Share" subtitle="Share card with inline-SVG QR code, data-pack line, two buttons" -->
<!DOCTYPE html><html><head><meta charset="utf-8"><link rel="stylesheet" href="../../styles.css">
<script src="https://unpkg.com/react@18.3.1/umd/react.development.js" integrity="sha384-hD6/rw4ppMLGNu3tX5cjIb+uRZ7UkRJ6BPkLpg4hAu/6onKUg4lLsHAs9EBPT82L" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js" integrity="sha384-u6aeetuaXnQ38mYT8rp6sbXaQe3NL9t+IBXmnYxwkUI2Hw4bsp2Wvmx4yRQF1uAm" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone@7.29.0/babel.min.js" integrity="sha384-m08KidiNqLdpJqLq95G/LEi8Qvjl/xUYll3QILypMoQ65QorJ9Lvtp2RXYGBFj1y" crossorigin="anonymous"></script>
<script src="../../_ds_bundle.js"></script>
<style>body{padding:16px;display:grid;gap:16px;grid-template-columns:328px 1fr;align-items:start}</style>
</head><body><div id="root" style="display:contents"></div>
<script type="text/babel">
const { ShareCard, QrCode } = window.CrosscheckDesignSystem_469d70;
function App(){return <>
<ShareCard qrText="https://example.org/crosscheck/DIC005" packDate="2026-09-30" packSize="212 KB" appSize="810 KB"/>
<div style={{display:'flex',gap:16,alignItems:'flex-start'}}><QrCode text="Crosscheck" size={96}/><QrCode text="https://example.org/crosscheck/DIC005?pack=2026-09-30" size={128}/></div>
</>}
ReactDOM.createRoot(document.getElementById('root')).render(<App/>);
</script></body></html>
